body {
	background-color: #add8e6;
}
 h3 {color: #000000;font-family: 'Raleway', sans-serif;}
 h1 {color:#ff0000;font-family: 'REM', sans-serif;}
 h2 {color:#f10493;font-family: 'REM', sans-serif;}
 h4 {color:#ff2940; font-family: 'Permanent Marker', cursive;}
 p {font-weight:bold; 600} 